.ui.inverted.vertical.masthead.center.aligned.segment
  h1.ui.inverted.header Welcome to the Status Dashboard
  h2 Do whatever you want when you want to.
  .ui.huge.primary.button
    = link_to 'Get Started', signup_path, class: 'ui huge primary button'
    i.right.arrow.icon
    
/ <div class="center jumbotron">
/   <h1>Welcome to the Sample App</h1>
/ 
/   <h2>
/ 	This is the home page for the
/ 	<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
/ 	sample application.
/   </h2>
/ 
/   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
/ </div>
/ 
/ <%= link_to image_tag("rails.png", alt: "Rails logo"),
/ 			'http://rubyonrails.org/' %>
