#sidenav.ui.vertical.menu.fixed
  / = link_to [current_user], class: 'item', id: 'dashboard_logo_link' do
  /   img src=image_url('rails.png') style="width: 5rem; margin: 0 auto;"
  / .item.version v#{app_version}
